<h2>New Book {{ bookCreate.bookObject.title }}</h2>
<div id="searchBoxes">
  <form class="form-horizontal well" >
      
      <div class="form-group" ng-class="{'has-error': bookCreate.errorObject.title}">
        <label for="inputTitle" class="col-sm-4 control-label" >Title</label>
        <div class="col-sm-4">
          <input type="text" id="inputTitle" class="form-control" placeholder="Title"
                 ng-model="bookCreate.bookObject.title" required="required" >
          <span class="help-block" ng-repeat="error in bookCreate.errorObject.title">{{ error }}</span>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': bookCreate.errorObject.description}">
          <label for="inputDescription" class="col-sm-4 control-label" >Description</label>
          <div class="col-sm-4">
              <input type="text" id="inputDescription" class="form-control" placeholder="Description"
                     ng-model="bookCreate.bookObject.description" required="required" >
              <span class="help-block" ng-repeat="error in bookCreate.errorObject.description">{{ error }}</span>
          </div>
      </div>

      <div class="form-group" ng-class="{'has-error': bookCreate.errorObject.image}">
          <label for="inputImage" class="col-sm-4 control-label" >Image url</label>
          <div class="col-sm-4">
              <input type="text" id="inputImage" class="form-control" placeholder="Image url"
                     ng-model="bookCreate.bookObject.image" required="required" >
              <span class="help-block" ng-repeat="error in bookCreate.errorObject.image">{{ error }}</span>
          </div>
      </div>


      <div class="form-group" ng-class="{'has-error': bookCreate.errorObject.authorId}">
        <label for="selAuthorId" class="col-sm-4 control-label">Author</label>
        <div class="col-sm-4">
          <select id="selAuthorId" class="form-control"  ng-model="bookCreate.bookObject.authorId" required="required"
                  ng-options="aut.authorId as aut.name for aut in bookCreate.authors" ></select>
          <span class="help-block" ng-repeat="error in bookCreate.errorObject.authorId">{{ error }}</span>
        </div>
      </div>



      <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary" ng-click="bookCreate.create()">Create <i class="fa fa-floppy-o"></i></button>
        </div>

      </div>
      
  </form>
</div>
