<h2>Books</h2>
<div id="searchBoxes">
	<form class="form-horizontal">
		<div class="form-group">
	    	<label for="inputBuscar" class="col-sm-4 control-label">Filter</label>
	    	<div class="col-sm-4">
	    		<input type="text" id="inputBuscar" class="form-control" placeholder="Filter"
					   ng-model="book.globalSearchBooks.$" autofocus>
	    	</div>
		</div>
	</form>
	<button type="button" ng-click="book.create()" class="btn btn-link btn-sm">New Book</i><i class="fa fa-plus"></i></button>

	
</div>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr> 
				<!--<th>ID</th>-->
				<th>
					Title<br>
					<input type="text" class="form-control input-sm" ng-model="book.globalSearchBooks.title">
	    		</th>
				<th>
					Description<br>
					<input type="text" class="form-control input-sm" ng-model="book.globalSearchBooks.description">
	    		</th>
	    		<th>
					Image<br>
				</th>
				<th>
					Author<br>
					<input type="text" class="form-control input-sm" ng-model="book.globalSearchBooks.authorId">
				</th>
				<th class="action-buttons1"></th>
			</tr> 
		</thead> 
		<tbody> 
			<tr ng-repeat="book in book.books | filter:book.globalSearchBooks" >
				<td>
					{{ book.title }}
				</td>
				<td>
					{{ book.description }}
				</td>
				<td>
					<img src="{{ book.image }}">
				</td>
				<td>
					{{ book.authorId }}
				</td>
				<td>
          			<a href="/#/books/{{ book._id }}/edit" class="btn btn-link"><i class="fa fa-pencil"></i></a>
					<button type="button" ng-click="book.delete(book._id)" class="btn btn-link"><i class="fa fa-trash"></i></button>
          		</td>
			</tr> 
		</tbody>
	</table>
</div>